/* Estilos globais */
body {
    background-color: #f5f5f5;
    color: #6e6e6e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000233;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



h2 {
    color: #00b899;
}

button {
    background-color: #00b899;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #007568;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000233;
    color: #ffffff;
}

/* Estilos para a tela de agendamento */
.pc-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pc-icon {
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.pc-label input[type="checkbox"] {
    display: none;
}

.pc-label label {
    cursor: pointer;
}

.selected-pc {
    background-color: #ffc107;
}
